html {
	height: 100%;
}

body {
	font: 14px/1.5 'Î¢ÈíÑÅºÚ';
	word-wrap: break-word;
	word-break: break-all;
	-webkit-text-size-adjust: none;
	background: #fff;
	color: #333;
}

body, h1, h2, h3, h4, h5, h6, ul {
	margin: 0
}

ul {
	list-style: none outside;
	padding: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

a {
	color: #286a46;
	text-decoration: none;
	outline: 0
}

a:hover, a:active {
	color: #2a6496;
	text-decoration: none;
}

a:focus {
	outline: 0;
}

.topbar-wrap {
	height: 50px;
	line-height: 50px;
	background: #f8f8f8;
	border-bottom: 1px solid #ccc;
}

.topbar-inner {
	font-size: 24px;
	padding: 0 20px;
}

.topbar-logo-wrap {
	float: left;
}

.topbar-logo {
	float: left;
	text-align: center;
}

.sidebar-wrap {
	float: left;
	width: 189px;
	min-height: 720px;
	background: #f2f2f2;
	border-right: 1px solid #ccc;
}

.sidebar-title {
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
}

.sidebar-content {
	padding-top: 0px;
	font-size: 18px;
}

.sidebar-list li {
	border: 1px solid #e5e5e5;
	border-width: 1px 0;
}

.sidebar-list li .icon-font {
	margin-right: 5px;
	color: #888;
	font-size: 14px;
}

.sidebar-list li a {
	padding: 0 16px 0 20px;
	display: block;
	height: 38px;
	line-height: 38px;
	color: #333;
}

.sidebar-list li a:hover {
	background: #c6c7df;
	color: #ffffff;
}

.sub-menu {
	border-top: 1px solid #e5e5e5;
	background: #fff;
}

.sub-menu li {
	padding-left: 21px;
}

.sub-menu li.on {
	background: #1963AA;
}

.sub-menu li.on a {
	background: #1963AA;
	color: #fff;
}

.sub-menu li.on .icon-font {
	color: #fff;
}

.sub-menu .icon-font {
	font-size: 11px;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-font {
	font-family: 'icomoon';
	speak: none;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.addproduct {
	padding-left: 21px;
	margin: 10px;
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbbbbb;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}

.btn:active, .btn.active {
	background-color: #cccccc \9;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #286a46;
	*background-color: #286a46;
	background-image: -moz-linear-gradient(top, #286a46, #286a46);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#286a46),
		to(#286a46));
	background-image: -webkit-linear-gradient(top, #286a46, #286a46);
	background-image: -o-linear-gradient(top, #286a46, #286a46);
	background-image: linear-gradient(to bottom, #286a26, #286a46);
	background-repeat: repeat-x;
	border-color: #286a46 #286a46 #286a46;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active,
	.btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #286a46;
	*background-color: #286a46;
}

.btn-primary:active, .btn-primary.active {
	background-color: #286a46 \9;
}


.btn6 {
	width: 120px;
}

.main-wrap {
	margin-left: 190px;
	min-height: 100%;
}

.crumb-wrap {
	height: 40px;
	line-height: 39px;
	border-bottom: 1px solid #e5e5e5;
	background: #f5f5f5;
}

.crumb-list {
	padding-left: 12px;
}

.crumb-list .icon-font {
	margin-right: 5px;
}

.crumb-step {
	margin: 0 5px;
	color: #b2c2e0;
	font-family: serif;
}

.result-wrap {
	padding: 5px 10px;
}

.require-red {
	color: #f60;
	font-family: serif;
	margin-left: 10px;
	margin-right: 5px;
}

.insert-tab {
	border-collapse: collapse;
	border: 1px solid #eee;
}

.insert-tab th, .insert-tab td {
	border: 1px solid #eee;
}

.insert-tab tr {
	line-height: 40px;
}

.insert-tab th {
	text-align: left;
	font-weight: normal;
	padding-right: 10px;
	font-size: 14px;
}

.insert-tab td {
	text-align: left;
	padding-left: 10px;
}

.admin-tab {
	border-collapse: collapse;
	border: 2px solid #888;
}

.admin-tab th, .admin-tab td {
	border: 1px solid #eee;
}

.admin-tab tr {
	line-height: 30px;
}

.admin-tab th {
	text-align: center;
	font-weight: normal;
	padding-right: 10px;
	font-size: 14px;
}

.admin-tab td {
	text-align: left;
	padding-left: 10px;
}


.select_type {
	vertical-align: middle;
	height: 26px;
}

.common-text {
	vertical-align: middle;
	height: 22px;
}

.checkbox1 {
	vertical-align: middle;
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
}
.msg{
	vertical-align: middle;
	width: 100%;
	height: 20px;
	margin: 0px 10px;
}

.showuser{
	vertical-align: middle;
	width: 100%;
	height: auto;
	float:right;
}

.dlg-mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity=30);
	display:none;
}

.dlg-content{
	z-index:9999;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -150px;
	margin-top: -30px;
	width: 300px;
	height: 24px;
	font-size:18px;
	vertical-align:middle;
	text-align:center; 
	border-radius:5px;
	padding:5px 5px;
	border:solid 2px #666;
	background-color:#fff;
	box-shadow: 0 0 10px #666;
	display:none;
}

.dlg-content1{
	z-index:9999;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -35px;
	width: 200px;
	height: 70px;
	font-size:18px;
	vertical-align:middle;
	text-align:center; 
	border-radius:5px;
	padding:5px 5px;
	border:solid 2px #666;
	background-color:#fff;
	box-shadow: 0 0 10px #666;
	display:none;
}
