

.showimgs{
    width: 100%;
    height: 800px;
    border: 2px solid #ff8000;
    background:#000;
}

/*content*/
.content{
    position: absolute;
    float: left;
    left: 50%;
    margin-left: -145px;
    width: 480px;
    height: 800px;
    overflow: hidden;
}

.imgBox{
    position: absolute;
    clear: both;
    width: 3360px;
    list-style-type: none;
}

.imgBox > li{
     float: left;
     width: 480px;
 }

.imgBox a{
    display: inline-block;
}
.control{
	float:left;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 20px;
    background: #000;
    opacity: .3;
    font-size: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    display: none;
    cursor: pointer;
    color: #fff;
}
.control:hover{
    opacity: .8;
}

.to-center{
    left:200px;;
    font-size: 28px;
    height: 40px;
    line-height: 40px;
    width: 80px;
}

.control-del:hover{
    opacity: .8;
}


.to-right{
    left: 410px;
}

/*spanNum*/
.imgNum{
    display: inline-block;
    float: left;
    width: 9px;
    height: 9px;
    margin-right: 4px;
    border-radius: 9px;
    background: #b7b7b7;
    cursor: pointer;
}

.mark-color{
    background: #f40;
}

.img-control{
	border: 2px solid #ff8000;
}

.show-imgs{
	float:left;
	width:100px; 
	height:100px;
	border: 1px solid #000040;
}

.min-img{
	margin-left:26px;
	margin-top:10px;
	max-width:48px; 
	max-height:80px;
}